body{
    background-color: #1F2833;
}
h1{
    color: seagreen; 
    font-size: 60px;
}
#id{
    color: #66FCF1;
}
.title{
    text-align: center;
}
.title{
    margin-top: 30px;
}
.title{
    margin-bottom: 20px;
    border: 5px solid #44A29E;
}
.h2{
    color: #C5C6C7;
    text-align: center;
    font-size: 35px;
}
.h3{
    color: #C5C6C7;
    text-align: center;
}
<!--add border for link and put link under picture, center both and make both visible-->